html,body {
    height:100%;
    /*padding-top:60px;*/
    background-image: url('https://blog.agendapro.com/hubfs/Postedin-Blog-Images/pexels-photo-853427.jpeg');
    background-size:cover;
    background-repeat: no-repeat;

    
  }


section {
  height:calc(90% - 50px);
}
.cnt-rarti{
  background: rgba(248, 248, 248, 0.678);
  width: 310px;
  padding-top: 1px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 18px;
}
.cnt-rarti h1{
  text-align: center;
}
.frm{
  padding-left: 5px;
  
}
#btnAgregaArticulo{
  margin-left: 110px;
}
.cnt-rarti input,.cnt-rarti select{
  width: 300px;
  
}

.input-sm{
  width: 100%;
  
}
.artibg{
     backdrop-filter: blur(10px);
        background: rgba(197, 197, 197, 0.5);
        height: 100%;
       
        padding-top: 150px;
}

.artibg2{
  background: rgb(255, 254, 254);
  margin-top: 20px;
  
}

.cnt-scroll{
 height: 500px;
  overflow: auto;
}

/*Scroll*/

.cnt-scroll::-webkit-scrollbar{
    width: 7px;
}
.cnt-scroll::-webkit-scrollbar-thumb{
      background: rgb(104, 104, 104);
      border-radius: 5px;
}


.affix {
  padding:0px;
  -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear;  

}

.affix-top {
  padding-top:10px;
  padding-bottom:10px;
  -webkit-transition:padding 0.5s linear;
  -moz-transition:padding 0.5s linear;  
  -o-transition:padding 0.5s linear;         
  transition:padding 0.5s linear;  
}
.encabezado{
  background: rgb(65, 65, 65);
  color: white;
}